@model IEnumerable<FinalProject.Models.Annotation>


@{
    
}

@*List of Annotations*@
<table>
    @foreach (var item in Model.Where(a => a.filename == TempData["file"].ToString()))
    {
        @Html.Partial("_AnnotationList", item)
    }
</table>
