@model FinalProject.Models.PDF

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>PDF</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.filename }) |
    @Html.ActionLink("Back to List", "Index")
</p>
