@model IEnumerable<FinalProject.Models.PDF>

@section Content {
    <link href="@Url.Content("~/Content/CreateView.css")" rel="stylesheet" type="text/css" />
}
<style>
    #item {
        box-sizing: border-box;
        background-color: #4f4e4b;
        /*padding: 30px;*/
        border-radius: 10%;
        height: 300px;
        width: 200px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        margin: 25px 30px 50px 30px;
        /*box-shadow: 1px 1px 5px 3px grey;*/
        /*background-image: url('../../Content/a_logo.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;*/
    }
</style>

<div class="section-title">
    <h2>Popular Textbooks</h2>
    <h3>Select a Study Material!</h3>
    @Html.ActionLink("Back", "GoBack")
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Where(a => a.CategoryId == Int32.Parse(TempData["Category"].ToString())))
        {
            <div class="col-md-4" id="item">
                <img src="~/Content/img/logo/a-logo.png" alt="Annotext Logo" height="100" width="100" />
                @Html.DisplayFor(modelItem => item.filename)
                <br />
                <div>
                    @Html.ActionLink("Read More", "Details", new { id = item.PDFid })
                </div>
            </div>
        }
    </div>
</div>